Repository AllenInstitute/AllenSDK, pull requests merged in 2020-02, with the labels that each got.

#968 Correct behaviormon and eye tracking camera sync line labels
  allensdk/brain_observatory/behavior/sync/__init__.py
  allensdk/test/brain_observatory/behavior/test_sync_processing.py
  test_requirements.txt
Labels: braintv

#1381 GH-1380 don't instantiate BehaviorProjectLimsApi at import time
  allensdk/brain_observatory/behavior/behavior_project_cache.py
Labels: DevOps, behavior, braintv, bug, external

#1379 Fix link formatting for latest releases
  doc_template/index.rst
Labels: external, noprogram

#1370 minor typo fix
  allensdk/core/brain_observatory_nwb_data_set.py
Labels: NWB, braintv

#1375 Add ecephys optotagging tutorial
  doc_template/examples_root/examples/nb/ecephys_optotagging.ipynb
  doc_template/visual_coding_neuropixels.rst
Labels: braintv, neuropixels

#1358 version and cache spec
  allensdk/brain_observatory/ecephys/nwb/AIBS_ecephys_namespace.yaml
  allensdk/brain_observatory/ecephys/write_nwb/__main__.py
Labels: NWB, braintv, external, neuropixels
